.dot-fail {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
  }
  
  .dot-pass {
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
  }

  .img-spacing{
    margin-right: 2rem;
    margin-inline-start: 2rem;
    top: 20%;
  }
  
  